<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
  </head>
  <body>
    <%- include('../components/navbar', {pageHeader: "Groups"}) %>

    <main>
        <% if (groups.length) { %>
            <% groups.forEach(group => { %>
              <div class="group list-item">
                <div class="name"><%= group.name %></div>
                <a href="/groups/<%= group.id %>">See Group</a>
              </div>  
           <% }) %>
       <% } %>
    </main>
  </body>
</html>
