*,
*::after,
*::before {
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
  font: inherit;
}

body {
  background-color: hsl(0 0 10);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-hidden {
  display: none;
}

/* 
    Navigation bar  
*/

.navbar {
  color: hsl(0 0 100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.left-nav a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-nav .logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.left-nav img {
  width: 2rem;
}

.navbar a {
  text-decoration: none;
}

.page-header h1 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-nav .links {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}

.signup-btn {
  border: 1px solid hsl(0 0 100);
  border-radius: 10px;
  padding: 0.5em;
}

.signup-btn:hover {
  background-color: hsl(0 0 20);
}

/*
    side nav form mobiles
*/

.sidenav {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: hsl(0 0 15);
  transform: translateX(-100%);
  transition: transform 0.25s ease-out;
}

.sidenav.active {
  transform: translateX(0);
  transition: transform 0.25s ease-in;
}

.sidenav a {
  padding: 1em;
  width: 300px;
  display: block;
}

.sidenav a:hover {
  background-color: hsl(0 0 10);
}

.right-nav .menu-btn {
  display: flex;
  align-items: center;
}

.sidenav .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

.sidenav .close-btn:hover,
.sidenav .close-btn:active {
  background-color: hsl(0 0 10);
}

/*
    Sign up form style
    :- Login form has class name sign up
*/

.signup-form {
  color: hsl(0 0 89);
  border: 1px solid hsl(0 0 85 / 0.8);
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.signup-form h1 {
  text-align: center;
  font-size: 1.5rem;
}

.signup-form .rows {
  margin-bottom: 0.5em;
}

.signup-form input {
  border: 1px solid hsl(0 0 70 / 0.7);
  border-radius: 10px;
  width: 100%;
  padding: 0.5em;
  margin: 0.3em 0;
}

.signup-form .error {
  color: hsl(0 100 65);
}

.auth-error {
  text-align: center;
  color: hsl(0 100 65);
  padding-bottom: 1em;
}

.signup-form button {
  font-weight: 700;
  border: 1px solid hsl(0 0 100);
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: hsl(0 0 25);
}

/*

setting forms
uses signup style

*/

.profile-info h2,
.password h2,
.delete-account h2 {
  font-size: large;
  font-weight: 700;
  margin-bottom: 1em;
}

.profile-info form,
.password form {
  display: flex;
  flex-direction: column;
}

.profile-info button,
.password button {
  align-self: flex-end;
}

.delete-account {
  display: block;
  width: 100%;
}

/*
  Create group form
*/

.create-group-form {
  color: hsl(0 0 95);
  border: 1px solid hsl(0 0 90 / 0.9);
  border-radius: 15px;
  padding: 0 1em 1em;
  margin: 3em 1em;
  width: 90%;
  max-width: 350px;
}

.create-group-form h2 {
  text-align: center;
  font-size: 1.5em;
}

.create-group-form .rows {
  margin: 0.5em 0;
}

.create-group-form input,
.create-group-form textarea {
  border: 1px solid hsl(0 0 70 / 0.7);
  border-radius: 10px;
  display: block;
  padding: 0.5em;
  margin: 0.3em 0;
  width: 100%;
}

.create-group-form textarea {
  min-height: 5em;
  line-height: 1.5;
  field-sizing: content;
}

.create-group-form button {
  padding: 0.5em;
  border: 1px solid hsl(0 0 75);
  border-radius: 0.5em;
  margin-top: 1em;
  width: 100%;
}

.create-group-form button:hover,
.create-group-form button:active {
  background-color: hsl(0 0 15);
}

.create-group-form .error {
  color: hsl(0 100 65);
}
