*,
*::after,
*::before {
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
  font: inherit;
}

body {
  background-color: hsl(0 0 10);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.mobile-hidden {
  display: none;
}

/* 
    Navigation bar  
*/

.navbar {
  color: hsl(0 0 100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.left-nav a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-nav .logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.left-nav img {
  width: 2rem;
}

.navbar a {
  text-decoration: none;
}

.right-nav {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}

.signup-btn {
  border: 1px solid hsl(0 0 100);
  border-radius: 10px;
  padding: 0.5em;
}

.signup-btn:hover {
  background-color: hsl(0 0 20);
}
/*
    Sign up form style
    :- Login form has class name sign up
*/

.signup-form {
  color: hsl(0 0 89);
  border: 1px solid hsl(0 0 85 / 0.8);
  border-radius: 15px;
  margin: 1em;
  padding: 1em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.signup-form h1 {
  text-align: center;
  font-size: 1.5rem;
}

.signup-form .rows {
  margin-bottom: 0.5em;
}

.signup-form input {
  border: 1px solid hsl(0 0 70 / 0.7);
  border-radius: 10px;
  width: 100%;
  padding: 0.5em;
  margin: 0.3em 0;
}

.signup-form .error {
  color: hsl(0 100 65);
}

.auth-error {
  text-align: center;
  color: hsl(0 100 65);
  padding-bottom: 1em;
}

.signup-form button {
  font-weight: 700;
  border: 1px solid hsl(0 0 100);
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: hsl(0 0 25);
}
