<footer>
  <div class="logo">
    <img src="assets/members-only.png" alt="">
    <span class="logo-text">Members Only</span>
  </div>

  <!-- <>MembersOnly</h3> -->
  <div class="description">Text message posting web app where authors is only visible for group members.</div>
  <hr />
  <div>Created by: Saleamlak</div>
</footer>
