<nav class="navbar">
  <div class="left-nav" >
    <a href="/">
      <img src="assets/members-only.png" alt="logo" />
      <span class="logo-text mobile-hidden">Members Only</span>
    </a>
  </div>

  <!-- page title -->
  <div class="page-header">
      <h1><%= locals.pageHeader %></h1>
  </div>

  <div class="right-nav">
    <div class="links">
      <% if (locals.user) { %>
        <div class="sidenav">
          <!-- logged-in user -->
          <% if (locals.group && locals.isMember) { %>
            <a href="/groups/<%= group.id %>/about">About</a>

            <% if (isOwner) { %>
              <!-- Owner only -->
              <a href="/groups/<%= group.id %>/delete">Delete Group</a>
            <% } else { %>
              <!-- members only, not including owner -->
              <a href="/groups/<%= group.id %>/leave">Leave Group</a>
            <% } %>

          <% } else { %>
            <a href="/users/profile">Profile</a>
            <a href="/groups">Groups</a>
            <a href="/groups/create">Create Group</a>
            <a href="/users/settings">Settings</a>
            <a href="/logout">Logout</a>
          <% } %>

          <button class="close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
      <% } else if (locals.path === '/') { %>
        <!-- guest user -->
        <!-- menu icon -->
        <a class='login-btn' href="/login">Login</a>
        <a class='signup-btn' href="/signup">Sign Up</a>
      <% } %>
    </div>

    <% if (locals.user) { %>
      <div class="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
    <% } %>
  </div>
</nav>
